.indexbody {
  background-color: #292847;
  height: 100vh;
  color: white;
}

.calendarcard>.at-card__header {
  display: none;
}

.at-tabs {
  margin-bottom: 10px;

  .at-tabs__header {
    background-color: #292847;

    .at-tabs__item {
      color: white;
      font-size: 30px;
    }

    .at-tabs__item--active {
      color: white;
      font-size: 35px;
      font-weight: 600;
    }

    .at-tabs__item-underline {
      background-color: white;
      height: 2px;
    }
  }
}

.calendar-date,
.calendar-head>view {
  color: #292847;
}

.calendar-selected>.calendar-date {
  height: 96px;
  width: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-selected>.calendar-mark {
  top: 2.2rem !important;
}

.header__flex-item {
  color: #292847;
}

.container-text {
  color: #292847;
}

.titleIndex {
  font-weight: 500;
  padding: 0 5%;
  font-size: 40px;

  .year {
    font-size: 40px;
  }
}

.datetypelist {
  display: flex;
  justify-content: space-around;
  font-weight: 500;
}

.calendarlist{
  margin-top: 20px;
  height: 30%;
  overflow-y: auto;
  .at-card{
    margin-bottom: 20px;
  }
}

.heighcalendarlist{
  margin-top: 20px;
  height: 70%;
  overflow-y: auto;
  .at-card{
    margin-bottom: 20px;
  }
}


